<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单邮件</title>
</head>
<body>
<h2>尊敬的客户<span th:text="${memberUsername}"></span></h2>
<p>订单 <span th:text="${orderSn}"></span> 已成功下单，欢迎您随时关注订单状态！</p>
<table border="1">
    <tr>
        <td>订单编号</td>
        <td th:text="${orderSn}"></td>
    </tr>
    <tr>
        <td>收货人</td>
        <td th:text="${receiverName}"></td>
    </tr>
    <tr>
        <td>支付方式</td>
        <td th:text="${payType}"></td>
    </tr>
    <tr>
        <td>物流公司</td>
        <td th:text="${deliveryCompany}"></td>
    </tr>
    <tr>
        <td>物流单号</td>
        <td th:text="${deliverySn}"></td>
    </tr>
</table>

<p>希望在未来的日子里，能为您提供更好的服务！</p>
</body>
</html>
